@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@font-face {
  font-family: "TroisMilleBlack";
  src: url("./assets/fonts/TroisMilleBlack/TroisMilleBlack-21.eot");
  src: url("./assets/fonts/TroisMilleBlack/TroisMilleBlack-21.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/TroisMilleBlack/TroisMilleBlack-21.woff") format("woff"),
    url("./assets/fonts/TroisMilleBlack/TroisMilleBlack-21.woff2")
      format("woff2");
  font-weight: normal;
  font-style: normal;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

// Trois Mille Light
@font-face {
  font-family: "TroisMilleLight";
  src: url("./assets/fonts/TroisMilleLight/TroisMilleLight-21.eot");
  src: url("./assets/fonts/TroisMilleLight/TroisMilleLight-21.eot?#iefix")
      format("embedded-opentype"),
    url("./assets/fonts/TroisMilleLight/TroisMilleLight-21.woff") format("woff"),
    url("./assets/fonts/TroisMilleLight/TroisMilleLight-21.woff2")
      format("woff2");
  font-weight: normal;
  font-style: normal;
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}


